@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1780773581') format('woff2'),
    url('./font/fontello.woff?1780773581') format('woff'),
    url('./font/fontello.ttf?1780773581') format('truetype'),
    url('./font/fontello.svg?1780773581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
