@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1773043924') format('woff2'),
    url('./font/fontello.woff?1773043924') format('woff'),
    url('./font/fontello.ttf?1773043924') format('truetype'),
    url('./font/fontello.svg?1773043924#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
