@use '@/assets/fontello/font-defines.scss';
@use '@/styles/hljs.scss' as *;

body {
  @include theme.use {
    background: theme.get('background');
    color: theme.get('color');
  }
}
a {
  text-decoration: none;
  @include motion.transition(0.3s 0s, background-position 0s 0s);
  background-position: right bottom;
  background-size: 0% 2px;

  &:hover {
    background-size: 100% 2px;
    background-position: left bottom;
    @include theme.use {
      color: theme.get('active-color');
    }
  }
  background-repeat: no-repeat;
  @include theme.use {
    color: theme.mix('active-color', 'color', 70%);
    background-image: linear-gradient(
      to right,
      theme.get('active-color'),
      theme.get('active-color')
    );
  }
}
$scrollbar-width: 10px;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
  @include theme.use {
    background: theme.get('background');
  }
}
::-webkit-scrollbar-button {
  display: none;
  @include theme.use {
    background-color: transparent;
  }
}
::-webkit-scrollbar-track {
  @include theme.use {
    background-color: transparent;
  }
}
::-webkit-scrollbar-track-piece {
  @include theme.use {
    background-color: transparent;
  }
}
::-webkit-scrollbar-thumb {
  @include theme.use {
    background-color: theme.get('color');
    border-radius: 99999px;
    width: $scrollbar-width;
    height: $scrollbar-width;
  }
}
