@use 'sass:meta';

.k-markdown-shower {
  .k-md-ele-code-block {
    &.hljs {
      @include theme.select('light') {
        @include meta.load-css('highlight.js/scss/github');
      }
      @include theme.select('dark') {
        @include meta.load-css('highlight.js/scss/github-dark');
      }
    }
    &.shiki {
      @include theme.select('dark') {
        span {
          color: var(--shiki-dark);
          font-style: var(--shiki-dark-font-style);
          font-weight: var(--shiki-dark-font-weight);
          text-decoration: var(--shiki-dark-text-decoration);
        }
      }
      @include theme.select('light') {
        span {
          color: var(--shiki-light);
          font-style: var(--shiki-light-font-style);
          font-weight: var(--shiki-light-font-weight);
          text-decoration: var(--shiki-light-text-decoration);
        }
      }
    }
  }

  code {
    font-family: 'monaspace neon', 'fira code', monospace;
  }

  .k-md-node-code-inline {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    font-size: 0.95em;
    @include theme.use {
      background-color: theme.mix('active-color', 'background', 10%);
    }
  }
  blockquote {
    margin: 0;
    padding: 0.5em 1em;
    border-left: solid 0.8em rgba(white, 0.1);
    border-radius: 0.5em;
    background-color: rgba(black, 0.2);
    blockquote {
      margin-left: -0.5em;
      padding-right: 0;
    }
  }
  @function repeat-string($str, $num) {
    $result: '';
    @for $i from 1 through $num {
      $result: $result + $str;
    }
    @return $result;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      &::before {
        content: repeat-string('#', $i) + ' ';
        opacity: 0.5;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
  table {
    border-collapse: collapse;
    &:has(tr > td) {
      td,
      th {
        padding: 0.5em 1em;
        @include theme.use {
          border: solid 1px theme.mix('active-color', 'background', 10%);
        }
      }
    }
  }
}
